<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <h1>Cadastre na nossa newsletter</h1>
    <form action="/register" method="post">
      <label for="email">E-mail</label>
      <input type="email" name="email" />
      <br />
      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
